* {
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* Tabs  */

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

/* drawingStuff */
#menu-outer {
  flex-grow: 0;
  flex-shrink: 1;
  border: 2px solid #aaa;
  border-width: 2px 1px 2px 2px;
  border-radius: 5px 0px 0px 5px;
  padding: 5px;
  text-align: center;
}

.layers-title {
  font-size: 20px;
  text-align: center;
  margin: 10px 0px 0px 0px;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 5px auto;
}
  
.left-break {
  height: 10px;
  display: block;
  border-bottom: 2px solid #bbb;
  margin-bottom: 10px;
}

#horizontal-list {
	list-style: none;
	padding: 5px;
  margin: 0;
}

#horizontal-list li {
  display: block;
  margin: 10px 0px;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 40px;
  justify-content: center;
}

#edit-tab {
  position: absolute;
  top: 2px;
  right: 2px;
  background: #eee;
  padding: 12px;
  border-radius: 0px 0px 0px 5px;
  border: 2px solid #777;
  border-width: 0px 0px 2px 2px;
  display: none;
  font-size: 14px;
  text-align: center;
}

input[type=text] {
  padding: 10px;
  font-size: 15px;
  text-align: center;
  width: 50px;
  display: block;
  margin: 10px auto;
}

#canvas-wrap {
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 800px;
  position: relative;
  border: 2px solid #aaa;
  border-width: 2px 2px 2px 1px;
  border-radius: 0px 5px 5px 0px;
}

#menu-outer button{
  display: block;
  padding: 15px 40px;
  margin: 10px;
  display: inline-block;
  font-size: 16px;
}

#menu-outer b {
  display: block;
  text-align: center;
  font-size: 14px;
}

.file-input {
  padding: 10px;
  width: 160px;
}

.main-title {
  text-align: center;
  padding: 20px;
}
